<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Co-Workers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="../styleCards.css" /> -->
    <style>
        html, body{
            width: 100%;
            height: 100%;
            background-color: #e2e8f0;
            display: flex;
            justify-content: center;
        }

        .container, .row{
            height: 100%;
        }

        .touch{
            min-height: 100%;
        }

        .card{
            border-radius: 4%;
            border-color: black;
        }
    </style>
</head>
<body>
    <div class="container mx-0">
        <div class="row d-flex align-items-center">
            <div onclick="window.location.reload()" class="col-3 d-flex align-items-center justify-content-center touch">
                <span><h2>Pass</h2></span>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{.Name}}</h5>
                        <p class="card-text"><b>Major: </b>{{.Profile.Major}}</p>
                        <p class="card-text"><b>Skills: </b>{{range .Profile.Skills}}{{.}} {{end}}</p>
                        <p class="card-text"><b>Interests: </b>{{.Profile.AcademicInterests}}</p>
                        <p class="card-text"><b>BIO: </b>{{.Profile.Bio}}</p>
                    </div>
                </div>
            </div>
            <div onclick="likeUser('{{.ID}}')" class="col-3 d-flex align-items-center justify-content-center touch">
                <span><h2>Like</h2></span>
            </div>

        </div>
    </div>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function likeUser(userId) {
        fetch('/card/LikeUser', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({"userID": userId}),
        })
        .then(response => {
            if (response.status === 200) {
                window.location.reload()
            }
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });
    }
</script>


</body>
</html>
